<%- include ("partials/header") %>
<%- include ("partials/searchbar") %>


<% if (status== false){ %>
  <div class="fail" style="margin-left: 430px;">There is no result withe the title searched! </div>
<% } %>



<%- include ("partials/footer") %>




